.App {
    text-align: center;
    user-select: none;
}

.MuiDialog-root {
    user-select: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Picker-square {
    background-color: #61dafb;
    padding-left: 1vh;
    padding-right: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-shadow: 1px 1px black;
    text-transform: capitalize;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 50%;
}

.Picker-slider {
    width: calc(100vw - 4em);
}

.Color-button {
    text-shadow: 1px 1px black;
}

.ColorizeButton {
    padding: 0;
}

.ButtonRow {
    justify-content: space-between;
}

.App-link {
    color: #61dafb;
}

.MuiAlert-message {
    display: flex;
    align-items: center;
}

.MuiAlert-icon {
    display: flex;
    align-items: center;
}

.cursor {
    height: 1em;
    width: 0.1em;
    background: black;
    display: inline-block;
    vertical-align: middle;
    animation: blink ease-in-out 900ms infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
