.App {
    text-align: center;
    user-select: none;
    font-family: "Nunito";
}

.MuiDialog-root {
    user-select: none;
}

.MuiTypography-root {
    font-family: "Nunito";
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.background {
    background: radial-gradient(
            circle at 50% 55%,
            #404040 35%,
            transparent 60%,
            black 85%
        ),
        url(/public/img/b1.jpg);
    background-position: center center;
    background-size: cover;

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(0.5px) brightness(0.35);
    z-index: -1;
}

.Picker-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 50%;
}

.Picker-slider {
    width: calc(100vw - 4em);
}

.Color-button {
    text-shadow: 1px 1px black;
}

.ColorizeButton {
    padding: 0;
}

.ButtonRow {
    justify-content: space-between;
}

.App-link {
    color: #61dafb;
}

.MuiAlert-message {
    display: flex;
    align-items: center;
}

.MuiAlert-icon {
    display: flex;
    align-items: center;
}

.cursor {
    height: 1em;
    width: 0.1em;
    background: black;
    display: inline-block;
    vertical-align: middle;
    animation: blink ease-in-out 900ms infinite;
}

svg {
    overflow: visible;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
