.App {
  text-align: center;
  user-select: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Picker-square {
  background-color: #61dafb;
  min-height: 15vh;
  min-width: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 1px 1px black;
  text-transform:capitalize;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.Picker-slider {
  width: 90%;
}

.Color-button {
  text-shadow: 1px 1px black;
}

.ColorizeButton {
  padding: 0;
}

.ButtonRow {
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
